name: Build Docker image and deploy application

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build and publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: aiogram_bot:latest
        tag: registry.dmks.space/aiogram_bot:latest
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: registry.dmks.space
    - name: Deploy
      uses: wei/curl@v1
      with:
        args: -X POST ${{ secrets.GH_WEBHOOK }}